<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>aboutme</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>PublicIndexController</servlet-name>
    <servlet-class>controller.PublicIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexController</servlet-name>
    <url-pattern>/public/index</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
</filter>
<filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
</filter-mapping>


  <servlet>
		<servlet-name>ConnectorServlet</servlet-name>
		<servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
		<init-param>
			<description>
				Path to configuration file can be relative path inside application,
				absolute path on local file system or UNC path.
			</description>
			<param-name>XMLConfig</param-name>
			<param-value>/WEB-INF/config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConnectorServlet</servlet-name>
		<url-pattern>
			/libraries/ckfinder/core/connector/java/connector.java
		</url-pattern>
	</servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexController</servlet-name>
    <servlet-class>controller.AdminIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexController</servlet-name>
    <url-pattern>/admin/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexNewsCatController</servlet-name>
    <servlet-class>controller.AdminIndexNewsCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexNewsCatController</servlet-name>
    <url-pattern>/admin/news/cat/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddNewsCategoryController</servlet-name>
    <servlet-class>controller.AdminAddNewsCategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddNewsCategoryController</servlet-name>
    <url-pattern>/admin/news/cat/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditNewsCategoryController</servlet-name>
    <servlet-class>controller.AdminEditNewsCategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditNewsCategoryController</servlet-name>
    <url-pattern>/admin/news/cat/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelNewsCategoryController</servlet-name>
    <servlet-class>controller.AdminDelNewsCategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelNewsCategoryController</servlet-name>
    <url-pattern>/admin/news/cat/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexNewsNewController</servlet-name>
    <servlet-class>controller.AdminIndexNewsNewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexNewsNewController</servlet-name>
    <url-pattern>/admin/news/new/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddNewsNewController</servlet-name>
    <servlet-class>controller.AdminAddNewsNewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddNewsNewController</servlet-name>
    <url-pattern>/admin/news/new/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditNewsNewController</servlet-name>
    <servlet-class>controller.AdminEditNewsNewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditNewsNewController</servlet-name>
    <url-pattern>/admin/news/new/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelNewsNewController</servlet-name>
    <servlet-class>controller.AdminDelNewsNewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelNewsNewController</servlet-name>
    <url-pattern>/admin/news/new/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexInfomationSkillController</servlet-name>
    <servlet-class>controller.AdminIndexInfomationSkillController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexInfomationSkillController</servlet-name>
    <url-pattern>/admin/infomation/skill/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddInfomationSkillController</servlet-name>
    <servlet-class>controller.AdminAddInfomationSkillController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddInfomationSkillController</servlet-name>
    <url-pattern>/admin/infomation/skill/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditInfomationSkillController</servlet-name>
    <servlet-class>controller.AdminEditInfomationSkillController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditInfomationSkillController</servlet-name>
    <url-pattern>/admin/infomation/skill/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelInfomationProjectController</servlet-name>
    <servlet-class>controller.AdminDelInfomationProjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelInfomationProjectController</servlet-name>
    <url-pattern>/admin/infomation/project/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditInfomationProjectController</servlet-name>
    <servlet-class>controller.AdminEditInfomationProjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditInfomationProjectController</servlet-name>
    <url-pattern>/admin/infomation/project/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexInfomationProjectController</servlet-name>
    <servlet-class>controller.AdminIndexInfomationProjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexInfomationProjectController</servlet-name>
    <url-pattern>/admin/infomation/project/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddInfomationProjectController</servlet-name>
    <servlet-class>controller.AdminAddInfomationProjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddInfomationProjectController</servlet-name>
    <url-pattern>/admin/infomation/project/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/auth/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/auth/logout</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AdminAddUserController</servlet-name>
    <servlet-class>controller.AdminAddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddUserController</servlet-name>
    <url-pattern>/admin/user/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexUserController</servlet-name>
    <servlet-class>controller.AdminIndexUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexUserController</servlet-name>
    <url-pattern>/admin/user/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditUserController</servlet-name>
    <servlet-class>controller.AdminEditUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditUserController</servlet-name>
    <url-pattern>/admin/user/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelUserController</servlet-name>
    <servlet-class>controller.AdminDelUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelUserController</servlet-name>
    <url-pattern>/admin/user/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexContactController</servlet-name>
    <servlet-class>controller.AdminIndexContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexContactController</servlet-name>
    <url-pattern>/admin/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelContactController</servlet-name>
    <servlet-class>controller.AdminDelContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelContactController</servlet-name>
    <url-pattern>/admin/contact/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexInfomationInfoController</servlet-name>
    <servlet-class>controller.AdminIndexInfomationInfoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexInfomationInfoController</servlet-name>
    <url-pattern>/admin/infomation/info/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddInfomationInfoController</servlet-name>
    <servlet-class>controller.AdminAddInfomationInfoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddInfomationInfoController</servlet-name>
    <url-pattern>/admin/infomation/info/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelInfomationInfoController</servlet-name>
    <servlet-class>controller.AdminDelInfomationInfoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelInfomationInfoController</servlet-name>
    <url-pattern>/admin/infomation/info/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditInfomationInfoController</servlet-name>
    <servlet-class>controller.AdminEditInfomationInfoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditInfomationInfoController</servlet-name>
    <url-pattern>/admin/infomation/info/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelNewsCommentController</servlet-name>
    <servlet-class>controller.AdminDelNewsCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelNewsCommentController</servlet-name>
    <url-pattern>/admin/news/comment/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexNewsCommentController</servlet-name>
    <servlet-class>controller.AdminIndexNewsCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexNewsCommentController</servlet-name>
    <url-pattern>/admin/news/comment/index</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>PublicContactController</servlet-name>
    <servlet-class>controller.PublicContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicContactController</servlet-name>
    <url-pattern>/public/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicDetailController</servlet-name>
    <servlet-class>controller.PublicDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicDetailController</servlet-name>
    <url-pattern>/public/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicCatController</servlet-name>
    <servlet-class>controller.PublicCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicCatController</servlet-name>
    <url-pattern>/public/cat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicCommentController</servlet-name>
    <servlet-class>controller.PublicCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicCommentController</servlet-name>
    <url-pattern>/public/comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddInfomationExperience</servlet-name>
    <servlet-class>controller.AdminAddInfomationExperience</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddInfomationExperience</servlet-name>
    <url-pattern>/admin/infomation/experience/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexInfomationExperienceController</servlet-name>
    <servlet-class>controller.AdminIndexInfomationExperienceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexInfomationExperienceController</servlet-name>
    <url-pattern>/admin/infomation/experience/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditInfomationExperienceController</servlet-name>
    <servlet-class>controller.AdminEditInfomationExperienceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditInfomationExperienceController</servlet-name>
    <url-pattern>/admin/infomation/experience/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCommentAjax</servlet-name>
    <servlet-class>ajax.AddCommentAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommentAjax</servlet-name>
    <url-pattern>/ajax/comment/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ajax.AddCatAjax</servlet-name>
    <servlet-class>ajax.AddCatAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajax.AddCatAjax</servlet-name>
    <url-pattern>/ajax/cat/add</url-pattern>
  </servlet-mapping>
  <error-page>
        <error-code>404</error-code>
        <location>/Error404.html</location>
</error-page>
</web-app>