<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>jspd3bt</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HinhChuNhatController</servlet-name>
    <servlet-class>controller.HinhChuNhatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HinhChuNhatController</servlet-name>
    <url-pattern>/hinh-chu-nhat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TinhTongController</servlet-name>
    <servlet-class>controller.TinhTongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TinhTongController</servlet-name>
    <url-pattern>/tinh-tong</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TinhDienTichHCNController</servlet-name>
    <servlet-class>controller.TinhDienTichHCNController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TinhDienTichHCNController</servlet-name>
    <url-pattern>/tinh-dien-tich-chu-vi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DetailController</servlet-name>
    <servlet-class>controller.DetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailController</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CauChaoController</servlet-name>
    <servlet-class>controller.CauChaoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CauChaoController</servlet-name>
    <url-pattern>/in-cau-chao</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HinhTronController</servlet-name>
    <servlet-class>controller.HinhTronController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HinhTronController</servlet-name>
    <url-pattern>/hinh-tron</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ThayTheChuoiController</servlet-name>
    <servlet-class>controller.ThayTheChuoiController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThayTheChuoiController</servlet-name>
    <url-pattern>/thay-the-chuoi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SoNgauNhienController</servlet-name>
    <servlet-class>controller.SoNgauNhienController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SoNgauNhienController</servlet-name>
    <url-pattern>/so-ngau-nhien</url-pattern>
  </servlet-mapping>
  
</web-app>